# Core LangChain
langchain~=1.0.3
langchain-openai~=1.0.1
langchain-core~=1.0.2

# Environment & utilities
python-dotenv~=1.2.1
ipython~=9.6.0
pydantic~=2.12.3
requests~=2.32.3

# Vector database
faiss-cpu==1.12.0
